# assignment 1 day 2

In [14]:
str1="We love letsupgrade"
print(str1)

We love letsupgrade

In [18]:
#1.string capitalise function 
str1.upper()
print(str1.upper())

WE LOVE LETSUPGRADE

In [19]:
#2.string lowercase function
str1.lower()

'we love letsupgrade'

In [20]:
#3.#string length function
len(str1)

19

In [22]:
#4.#string split function
str1.split()

['We', 'love', 'letsupgrade']

In [34]:
#5.string if numeric function
str2="S A N J A N A "
str2.isnumeric()

False

# assignment 2 day 2

In [40]:
lst=[2,"sanj",3,35.5,1]
lst

[2, 'sanj', 3, 35.5, 1]

In [39]:
#1.list append function
lst.append("1")
print(lst)

[2, 'sanj', 3, 35.5, '1', '1']

In [45]:
#2.list pop function
lst.pop(2)
print(lst)

[2, 'sanj', 35.5, 1]

In [46]:
#3.list reverse function
lst.reverse()
print(lst)

[1, 35.5, 'sanj', 2]

In [49]:
#4.list copy function
lst.copy()

[1, 35.5, 'sanj', 2]

In [51]:
#5.list clear function
lst.clear()
print(lst)

[]

# assignment 3 day 2

In [95]:
dict1={"san":1,"sanj":2,"sanju":4,"sanjana":3}
print(dict1)

{'san': 1, 'sanj': 2, 'sanju': 4, 'sanjana': 3}

In [97]:
#1.dictionary delete function
del dict1['sanj']
print(dict)

{1: 'san', 2: 'sanj', 3: 'sanjana'}

In [98]:
#2.dictionary list function
list(dict1)

['san', 'sanju', 'sanjana']

In [100]:
#3.dictionary in function
"sanjana" in dict1

True

In [111]:
#4. dictionary not in function
"sa" not in dict1

True

In [109]:
#5. dictionary clear function
dict1.clear()
dict1

{}